{% extends "advbase.html" %}

{% block content %}

         <div id="col1">
         	<!-- Column one start -->
         	<section>
            	<h3>Book 1: The Big Job: </h3>
            	{% load staticfiles %}
               	<figure>
							<a href="/books/thebigjob" style="border: none; height: 150px;">
                  		<img src="/static/images/AdvLucyLu-TheBigJob-Cover.jpg" alt="Book cover for The Adventures of Lucy Lu "/>
							</a>
               	</figure>

               	<p>
							We are are now on:
							<br>
							Apple iBooks
							<br>
							Amazon Kindle
							<br>
							<p>
							Soon to be on B&N Nook. And also on hardback on Lulu.com
               		</p>
               	</p>
         	</section>
         </div> <!-- col1 end -->
         <div id="col2">
            <!-- Column two start -->
            <section>
               <h3>Book 2: We're going to Ohio: </h3>
               {% load staticfiles %}
                  <figure>
							<a href="books/goingtoohio" style="border: none; height: 150px;">
                     	<img src="/static/images/AdvLucyLu-cover.jpg" alt="Book cover for The Adventures of Lucy Lu "/>
							</a>
                  </figure>
                  <p>
							Soon you can read about my travels from California to Ohio!
                  </p>
            </section>
         </div> <!-- col2 end -->
         <div id="col3">
            <!-- Column three start -->
            <section>
               <h3>Book 3: Boo Boo Bear </h3>
               {% load staticfiles %}
                  <figure>
							<a href="books/booboobear" style="border: none; height: 150px;">
								<img src="/static/images/AdvLucyLu-cover.jpg" alt="Book cover for The Adventures of Lucy Lu "/>
							</a>
                  </figure>
                  <p>
                     Soon you can read about how I meet my new friend for life.
							<br>
							His name is Maxwell Andre Rogers, But I call him Boo Boo Bear.
							<br>
							Come read why I give him that nick name!
                  </p>
            </section>
         </div> <!-- col3 end -->
{% endblock content %}
