{% extends "advbase.html" %}

{% block content %}
	<div id="bhounds">
	<!-- Column three start -->
		<section>
			<h3>The Breed: Holder Page : </h3>
			{% load staticfiles %}
			<figure>
				<a href="/books/tbd" style="border: none; height: 150px;">
					<img src="/static/images/AdvLucyLu-cover.jpg" alt="Book cover for The Adventures of Lucy Lu "/>
				</a>
			</figure>
			<p>
				Were are working on this. So many adventures to choose from!
			</p>
		</section>
	</div> <!-- col3 end -->
{% endblock content %}
