{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
{% endblock %}
</style>


     
{% block jumbotron %}
 {% if not request.user.is_authenticated %}
<div class="jumbotron">
		<div class="header-image">
		<img src="{% static 'img/LucyLu_WebHeader.jpg' %}" alt="Adv Lucy Lu header image" style="width: 100%; height: 225px;border-radius: 20px;">
		</div>
 </div>
<div class="header-section">
	<h2 style="font-size: 19px; text-align: center;">
		Come read and see the adventures of the cutest button nose Basset Hound you'll ever meet.
	</h2>
	<p>
       Guess What??? I'm in training to become a Therapy Doggie. Because I want to go to Veteran's hospitals/homes and Childerans hospitals
	<br>
			And see littlbe boys and girls. Wish me luck becuase my Daddy says I've been spoiled and need some discipline.
	</p>          
</div> 
 {% else %}
<div class="jumbotron-login">
		<div class="header-image-login">
		<img class="login" src="{% static 'img/LucyLu_WebHeader.jpg' %}" alt="Adv Lucy Lu header image" style="width: 500px; border-radius: 20px;">
		</div>
 </div>
 {% endif %}
{% endblock %}




{% block content %}
 {% if request.user.is_authenticated %}
<h1>You are logged in!...</h1>

	{% if queryset %}
	<h2>Welcome Staff</h2>
	<table class='table'>
	{% for instance in queryset %}
		<tr><td>{{ forloop.counter }}</td><td>{{ instance.email }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp|timesince }} ago</td></tr>
		{% if instance.email == "abc@gmail.edu" %}
		<tr><td>is equal</td></tr>
		{% endif %}
	{% endfor %}
	</table>

	{% endif %}

 {% else %}
<div class="row books">
    <div class="col-md-4">
        <section>
        	<h3 class="book-title">
            Book 1:
            <br>
            The Big Job
          </h3>
        	{% load staticfiles %}
        	<figure>
        		<a href="/books/thebigjob" style="border: none; ">
        			<img class= 'img-responsive' src="{% static 'img/AdvLucyLu-TheBigJob-Cover.jpg' %}" alt="Book cover for The Adventures of Lucy Lu "/>
        		</a>
        	</figure>
        	<p>
        		We are are now on:
        		<br>
        		Apple iBooks
        		<br>
        		Amazon Kindle
        		<br>
        		Soon to be on B&N Nook. And also on hardback on Lulu.com
        	</p>
        </section>
    </div> <!-- col1 end -->
    <div class="col-md-4">
      <section>
        <h3 class="book-title">
          Book 2:
        <br>
          We're going to Ohio
        </h3>
				{% load staticfiles %}
				<figure>
					<a href="/books/tbd" style="border: none; ">
						<img class= 'img-responsive' src="{% static 'img/AdvLucyLu-cover.jpg' %}" alt="Book cover for The Adventures of Lucy Lu "/>
					</a>
				</figure>
				<p>
					Soon you can read about my travels from California to Ohio!
					<br>
				</p>
			</section>
    </div> <!-- col2 end -->
    <div class="col-md-4">
			<section>
				<h3 class="book-title">
          Book 3:
        <br>
          Rescue of Boo Boo Bear
        </h3>
				{% load staticfiles %}
					<figure>
						<a href="/books/booboobear" style="border: none; ">
						<img class= 'img-responsive' src="{% static 'img/AdvLucyLu-cover.jpg' %}" alt="Book cover for The Adventures of Lucy Lu "/>
						</a>
					</figure>
				<p>
					Soon you can read how Lucy Lu meets her life long friend Maxwell "Boo Boo Bear".
				</p>
			</section>
    </div> <!-- col3 end -->
</div>
{% endif %}

{% endblock %}