{% extends "home.html" %}
{% load staticfiles %}

{% block content %}
	<div id="aboutus">
	<!-- Column three start -->
		<section>
			<h3>Aboutus: Maxwel</h3>
			{% load staticfiles %}
			<figure>
				<a href="/aboutus/maxwell">
					<img class= 'img-responsive' src="{% static 'img/maxwell.jpg' %}" style=" max-width: 75%; margin: auto;" alt="Maxwell on couch"/>
				</a>
			</figure>
			<p>
				<br>
				Maxwell Andre Rogers is my friend & playmate.
				<br> &nbsp;Momma, Daddy and I rescued
				him when he was about a year old. He came from a home where his Momma
				and Daddy were not very nice. He was not being taken care of and he was
				to thin. We took him home and fattened him up and now he is 65 pounds
				of love. We give him lots of love and when Momma and Daddy are working
				I get to have a playmate to play with. We call him Boo Boo Bear because
				he now looks like a cute cuddly teddy bear. He follows us around and I
				have taught him how to sleep on the big bed with Momma and Daddy,
				although he has a doggie bed of his own. Boo Boo Bear loves to chase
				and play with me around the house. We put on a show for Momma and Daddy
				every night.<br>
				<br>
				Please don't forget to register,<br>
				Hugs and doggie kisses,<br>
				<br>
				Love Lucy Lu for Max (Boo Boo Bear)
			</p>
		</section>
	</div> <!-- col3 end -->
{% endblock content %}
