{% extends "home.html" %}
{% load staticfiles %}

{% block content %}
  <div class="aboutus">
        	<h3>
            Aboutus: Mommy and Daddy 
          </h3>
      <div class="col-md-5" style=" margin-left: 33px;">
          <section>
          	<h3>
              Lucy and Mommy
            </h3>
          	<figure>
          		<a href="#" style="border: none; ">
          			<img class= 'img-responsive' src="{% static 'img/lucyNmama.jpg' %}" alt="Lucy Lu and Mommy"/>
          		</a>
          	</figure>
          	<p>
          		Text about Moma
          		<br>
          		extra line here.
          	</p>
          </section>
      </div> <!-- col1 end -->
      <div class="col-md-5">
        <section>
          <h3>
            Max and Daddy
          </h3>
  				<figure>
  					<a href="#" style="border: none; ">
  						<img class= 'img-responsive' src="{% static 'img/maxNdaddy.jpg' %}" alt="Maxwell and Daddy "/>
  					</a>
  				</figure>
  				<p>
  					Soon you can read about my travels from California to Ohio!
  					<br>
        		extra line here.
  				</p>
  			</section>
      </div> <!-- col2 end     height: 605px; -->
  </div>
{% endblock content %}
