{% extends "advbase.html" %}

{% block content %}
	<div id="books">
	<!-- Boo Boo Bear start -->
		<section>
			<h3>Book 3: Boo Boo Bear : </h3>
			{% load staticfiles %}
				<figure>
					<a href="/books/booboobear" style="border: none; height: 150px;">
					<img src="/static/images/AdvLucyLu-cover.jpg" alt="Book cover for The Adventures of Lucy Lu "/>
					</a>
				</figure>
			<p>
				Soon you can read how Lucy Lu meets her life long friend Maxwell "Boo Boo Bear".
			</p>
		</section>
	</div> <!-- Boo Boo Bear end -->
{% endblock content %}
