{% extends "advbase.html" %}

{% block content %}
	<div id="books">
	<!-- Column three start -->
		<section>
			<h3>Book 2: We're going to Ohio: </h3>
			{% load staticfiles %}
			<figure>
				<a href="/books/tbd" style="border: none; height: 150px;">
					<img src="/static/images/AdvLucyLu-cover.jpg" alt="Book cover for The Adventures of Lucy Lu "/>
				</a>
			</figure>
			<p>
				Soon you can read about my travels from California to Ohio!
				<br>
			</p>
		</section>
	</div> <!-- col3 end -->
{% endblock content %}
