{% extends "home.html" %}
{% load staticfiles %}

{% block content %}
	<div class="book-container">
		<section>
			<h3 class="center">Book 3: Rescue of Boo Boo Bear</h3>
			<figure>
				<a href="/books/booboobear">
					<img class= 'img-books' src="{% static 'img/AdvLucyLu-cover.jpg' %}" alt="Book cover for The Adventures of Lucy Lu "/>
				</a>
			</figure>
			<p>
				Soon you can read how Lucy Lu meets her life long friend Maxwell "Boo Boo Bear".
			</p>
		</section>
	</div> <!-- Book 3: Boo Boo Bear end -->
{% endblock %}
