{% extends "home.html" %}
{% load staticfiles %}

{% block content %}
	<div id="books">
	<!-- All My Books -->
		<section>
			<h3>All My Books: </h3>
			{% load staticfiles %}
			<figure>
				<a href="/books/thebigjob" style="border: none; height: 150px;">
					<img src="/static/images/AdvLucyLu-cover.jpg" alt="Book cover for The Adventures of Lucy Lu "/>
				</a>
			</figure>
			<p>
				Come see the the begining a great adventure of a cute little button-nose Basset Hound named Lucy Lu
			</p>
		</section>
	</div> <!-- All My Books end -->
{% endblock content %}
