{% extends "home.html" %}
{% load staticfiles %}

{% block content %}
	<div class="book-container">
<!-- 		<div id="col1"> -->
	<!-- The Big Job start -->
		<section>
			<h3 class="center">Book 2: We're going to Ohio:</h3>
			<figure>
				<a href="/books/thebigjob">
					<img class= 'img-books' src="{% static 'img/AdvLucyLu-cover.jpg' %}" alt="Book cover for The Adventures of Lucy Lu "/>
				</a>
			</figure>
			<p>
				Soon you can read about my travels from California to Ohio!
			</p>
		</section>
	</div> <!-- The Big Job end -->
{% endblock %}
